<h2><a href="meetup" class="btn btn-link">
        <span class="retourButton glyphicon glyphicon glyphicon-circle-arrow-left"
              aria-hidden="true"></span></a>
    Rencontre {{meetup.title}}
</h2>

<!-- Display infos -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="form-group">
            <label for="meetupDescritionInput">Description : </label>
            <textarea
                    id="meetupDescritionInput"
                    class="form-control"
                    rows="5" readonly
                    ng-model="meetup.description"
                    placeholder="Pas de description">
                </textarea>

        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-lg-6 col-md-6">
            <label for="meetupDateInput">Date : </label>
            <div uib-datepicker id="meetupDateInput"
                 class="well well-sm"
                 ng-model="meetup.date"
                 datepicker-options="datePickerOptions"
                 ng-disabled="true"
            >
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <label for="meetupTimeInput">Heure : </label>
            <div uib-timepicker id="meetupTimeInput"
                 minute-step="15" show-meridian="false"
                 ng-model="meetup.date"
                 ng-disabled="true"
            >
            </div>
        </div>
    </div>
</div>
<!-- / Display infos -->

<!-- Participation -->
<div class="row">
    <div class="col-md-12">
        <add-member ng-if="isMeetupOpen"
                    on-add="addMember(member)">
        </add-member>
        <p ng-if="!isMeetupOpen" class="text-center">
            Rencontre fermée
        </p>
    </div>
</div>
<!-- / Participation -->

<h3>Participants : {{meetupStats.going}} présent(s),
    {{meetupStats.notGoing}} absent(s) et {{meetupStats.maybe}} indéci(s)</h3>
<member-tab meetup="meetup" edit="isMeetupOpen"
                 on-remove-member="removeMember(member)">
</member-tab>
