<form class="form">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Participer</label>
                <input type="text"
                       autofocus
                       class="form-control"
                       placeholder="Pseudo"
                       ng-model="$ctrl.memberForm.name"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <button class="btn btn-lg btn-block btn-success"
                    ng-click="$ctrl.addMember('GOING')"
                    ng-disabled="!$ctrl.isMemberFormValid()">Présent !
            </button>
        </div>
        <div class="col-md-4 col-sm-4">
            <button class="btn btn-lg btn-block btn-warning"
                    ng-click="$ctrl.addMember('MAYBE')"
                    ng-disabled="!$ctrl.isMemberFormValid()">Peut être
            </button>
        </div>
        <div class="col-md-4 col-sm-4">
            <button class="btn btn-lg btn-block btn-danger"
                    ng-click="$ctrl.addMember('NOT_GOING')"
                    ng-disabled="!$ctrl.isMemberFormValid()">Absent
            </button>
        </div>
    </div>


</form>
