<form class="form">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="meetupTitleInput">Titre : </label>
                <input
                        id="meetupTitleInput"
                        type="text" autofocus
                        class="form-control"
                        ng-model="$ctrl.meetupForm.title"
                        placeholder="Nom de la rencontre"/>
            </div>
            <div class="form-group">
                <label for="meetupDescritionInput">Description : </label>
                <textarea
                        id="meetupDescritionInput"
                        class="form-control"
                        rows="5" maxlength="1000"
                        ng-model="$ctrl.meetupForm.description"
                        placeholder="Description de la rencontre">
                </textarea>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="meetupDateInput">Date : </label>
                <div uib-datepicker id="meetupDateInput"
                     class="well well-sm"
                     ng-model="$ctrl.meetupForm.date"
                     datepicker-options="$ctrl.datePickerOptions"
                >
                </div>
            </div>
            <div class="form-group">
                <label for="meetupTimeInput">Heure : </label>
                <div uib-timepicker id="meetupTimeInput"
                     minute-step="15" show-meridian="false"
                     ng-model="$ctrl.meetupForm.date"
                     ng-disabled="!$ctrl.meetupForm.date"
                >
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.addMeetup()">GO !</button>
</form>
